# dependencies
node_modules/

# output
dist/
out/
*.tgz

# code coverage
coverage/
*.lcov

# logs
logs/
*.log

# dotenv
.env
.env.*.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# agents-reverse-engineer
*.sum
.npm-cache
